@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$primary: #EB9993;
$secondary: #FFF1D8;
$banderole : #FFDD9E;
$background: #FFFFFF;
$input: #F2F2F2;
$button: #F6B09A;
$texte: #0C0C0C;
$grey: #A6A6A6;
$blue: #D5E1F0;
$card: #FDE6DC;
$title_background: #fff1d8;

$font: 'Work Sans', sans-serif;